-#  This file is app/views/requests/index.html.haml
%h2 All Requests

= form_tag requests_path, :method => :get, :id => 'requests_form' do

  %h4 Filter:
  -# TODO(csw1995): Filtering city (Refactoring using foreign key)
  -# = label :request_filter, :source_city, 'Source City'
  -# = text_field :request_filter, 'source_city'

  -# = label :request_filter, :dest_city, 'Destination City'
  -# = text_field :request_filter, 'dest_city'

  = label :request_filter, :expected_delivery_start, 'Earliest Expected Delivery Start Date'
  = date_select :request_filter, :expected_delivery_start, selected: @start_date

  = label :request_filter, :expected_delivery_end, 'Latest Expected Delivery End Date'
  = date_select :request_filter, :expected_delivery_end, selected: @end_date

  = submit_tag 'Refresh', :id => 'ratings_submit', :class => 'btn btn-primary'

%table#requests.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Value($)
      %th Source City
      %th Dest City
      %th Start Date
      %th End Date
      %th More details
  %tbody
    - @requests.each do |request|
      %tr
        %td= request.title
        %td= request.value
        %td= request.get_source_address.city
        %td= request.get_dest_address.city
        %td= request.expected_delivery_start.strftime("%B %d, %Y")
        %td= request.expected_delivery_end.strftime("%B %d, %Y")
        %td= link_to "More details", request_path(request)

= link_to 'I want to post new request', new_request_path

= debug(params)
