-# edit.html.haml using partial

%h2 Edit Existing user_profile

= form_tag user_profile_path(@user_profile), :method => :put do

  = label :user, :name, 'Name'
  = text_field :user_profile, 'name'

  = label :user, :email, 'Email'
  = text_field :user_profile, 'email'

  = label :user, :occupation, 'Occupation'
  = text_field :user_profile, 'occupation'

  = submit_tag 'Update user_profile Info', :class => 'btn btn-primary'
