-#  This file is app/views/user_profiles/index.html.haml
%h2 All User_profiles

= form_tag user_profiles_path, :method => :get, :id => 'ratings_form' do
  = hidden_field_tag "title_sort", true if @title_header
  = hidden_field_tag ":release_date_sort", true if @date_header
  = submit_tag 'Refresh', :id => 'ratings_submit', :class => 'btn btn-primary'

%table#user_profiles.table.table-striped.col-md-12
  %thead
    %tr
      %th{:class => @title_header}= link_to 'User_profile Title', user_profiles_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'
      %th Rating
      %th{:class => @date_header}= link_to 'Release Date', user_profiles_path(:sort => 'release_date', :ratings => @selected_ratings), :id => 'release_date_header'
      %th More Info
  %tbody
    - @user_profiles.each do |user_profile|
      %tr
        %td= user_profile.name
        %td= user_profile.email
        %td= user_profile.occupation
        %td= link_to "More about #{user_profile.name}", user_profile_path(user_profile)

= link_to 'Add new user_profile', new_user_profile_path

= debug(params)
