%h2 Create New User

-# form    action=
= form_tag user_profiles_path do

  -# label "user_name"
  = label :user, :name, 'Name'
  = text_field :user_profile, 'name'

  = label :user, :email, 'Email'
  = text_field :user_profile, 'email'

  = label :user, :occupation, 'Occupation'
  = text_field :user_profile, 'occupation'

  = submit_tag 'Save Changes', :class => 'btn btn-primary'
