-# in app/views/user_profiles/show.html.haml

%h3 User Center of #{@user_profile.name}

%ul#details
  %li
    name:
    = @user_profile.name
  %li
    email:
    = @user_profile.email
  %li
    valid verification:
    - if @verification
      = link_to "View Current Verification", user_profile_user_verification_path(@user_profile.id, @verification.id)
    - else
      = link_to "Create New Verification", new_user_profile_user_verification_path(@user_profile.id)

= link_to 'Edit User Profile', edit_user_profile_path(@user_profile)
= link_to 'Manage Addresses', addresses_path

%h4 Current published requests as the requester:

%table#requester_requests.table.table-striped.table-hover.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions
  %tbody
    - @requester_requests.each do |request|
      %tr
        %td= request.title
        %td= status_details(request.status)
        %td= link_to "Detail", request_path(request)
        %td
          - if request.status == $requester_unpaid
            = form_tag update_request_status_path(:id => request.id, :next_status => $carrier_pending) , :method => :put do
              %article
              %script.stripe-button{"data-amount" => "#{request.value*100}", 
              "data-description" => "Pay for this order", 
              "data-key" => "pk_test_Y84rnSDJpoMzeAjls6jybumy00xDY84fDZ", 
              "data-locale" => "auto", 
              src: "https://checkout.stripe.com/checkout.js"}

          = link_to action_pick_carrier_by_requester(request.status), task_applications_path(:order_id => request.id)
          = link_to action_confirm_by_requester(request.status), update_request_status_path(request.id, :next_status => $order_unrated) , :method => :put
          = link_to action_rate_by_requester(request.status), request_reviews_path(request.id)
          = no_actions_by_requester(request.status)



%h4 Current taken requests as the carrier:

%table#carrier_requests.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions

  %tbody
    - @carrier_requests.each do |request|
      %tr
        %td= request.title
        %td= status_details(request.status)
        %td= link_to "Detail", request_path(request)
        %td
          - if request.status == $carrier_unpaid
            = form_tag update_request_status_path(:id => request.id, :next_status => $order_generated) , :method => :put do
              %article
              %script.stripe-button{"data-amount" => "#{request.value*100}", 
                                    "data-description" => "Pay for this order", 
                                    "data-key" => "pk_test_Y84rnSDJpoMzeAjls6jybumy00xDY84fDZ", 
                                    "data-locale" => "auto", 
                                    src: "https://checkout.stripe.com/checkout.js"}

          = link_to action_update_by_carrier(request.status), update_request_statuses_path(:order_id=>request.id)


%h4 Current pending applications as the carrier:

%table#applications.table.table-striped.col-md-12
  %thead
    %tr
      %th Order_id
      %th Actions

  %tbody
    - @applications.each do |appl|
      %tr
        %td= appl.order_id #__TODO__(csw1995): Use foreign key to get details.
        %td
          = link_to "Cancel Application", task_application_path(appl), :method => :delete

= link_to 'Back to Home page', root_path

= debug(params)
