-# in app/views/user_profiles/show.html.haml

%h3 User Center of #{@user_profile.name}

%ul#details
  %li
    name:
    = @user_profile.name
  %li
    email:
    = @user_profile.email
  %li
    job:
    = @user_profile.occupation
  %li
    valid verification:
    = :__TODO__

= link_to 'Edit User Profile', edit_user_profile_path(@user_profile)

%h4 Current published requests as the requester:

%table#requester_requests.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions
  %tbody
    - @requester_requests.each do |request|
      %tr
        %td= request.title
        %td= request.status
        %td= link_to "Detail", request_path(request)
        %td
          = link_to "Pick a carrier", task_applications_path(:order_id => request.id)

%h4 Current taken requests as the carrier:

%table#carrier_requests.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions

  %tbody
    - @carrier_requests.each do |request|
      %tr
        %td= request.title
        %td= request.status 
        %td= link_to "Detail", request_path(request)
        %td
          = link_to "Confirm Contract", update_request_status_path(:id=>request.id, :next_status=>2), :method => :put
          = link_to "Update Status", update_request_statuses_path(:order_id=>request.id)

%h4 Current pending applications as the carrier:

%table#applications.table.table-striped.col-md-12
  %thead
    %tr
      %th Order_id
      %th Actions

  %tbody
    - @applications.each do |appl|
      %tr
        %td= appl.order_id #__TODO__(csw1995): Use foreign key to get details.
        %td
          = link_to "Cancel Application", task_application_path(appl), :method => :delete

= link_to 'Back to Home page', root_path

= debug(params)
