-# in app/views/user_profiles/show.html.haml

%h3 User Center of #{@user_profile.name}

%ul#details
  %li
    name:
    = @user_profile.name
  %li
    email:
    = @user_profile.email
  %li
    job:
    = @user_profile.occupation
  %li
    valid verification:
    = :__TODO__

= link_to 'Edit User Profile', edit_user_profile_path(@user_profile)
= link_to 'Manage Addresses', addresses_path

%h4 Current published requests as the requester:

%table#requester_requests.table.table-striped.table-hover.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions
  %tbody
    - @requester_requests.each do |request|
      %tr
        %td= request.title
        %td= status_details(request.status)
        %td= link_to "Detail", request_path(request)
        %td
          -#TODO link to payment
          = link_to action_pay_by_requester(request.status)
          = link_to action_pick_carrier_by_requester(request.status), task_applications_path(:order_id => request.id)
          = link_to action_rate_by_requester(request.status), request_reviews_path(request.id)
          = no_actions_by_requester(request.status)

%h4 Current taken requests as the carrier:

%table#carrier_requests.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Status
      %th More Info
      %th Actions

  %tbody
    - @carrier_requests.each do |request|
      %tr
        %td= request.title
        %td= status_details(request.status)
        %td= link_to "Detail", request_path(request)
        %td
          -# = TODO link to payment(confirm together with payment)
          = link_to action_confirm_by_carrier(request.status)
          = link_to action_update_by_carrier(request.status), update_request_statuses_path(:order_id=>request.id)

%h4 Current pending applications as the carrier:

%table#applications.table.table-striped.col-md-12
  %thead
    %tr
      %th Order_id
      %th Actions

  %tbody
    - @applications.each do |appl|
      %tr
        %td= appl.order_id #__TODO__(csw1995): Use foreign key to get details.
        %td
          = link_to "Cancel Application", task_application_path(appl), :method => :delete

= link_to 'Back to Home page', root_path

= debug(params)
